.privelege {
    background: $b-color;

    &__wrap{
        display: flex;
        flex-direction:column;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding: 103px 0 104px 0;
    }

    &__box {
        color: #FBFBFB;
        justify-content: space-between;
        text-align: center;
        
        &:not(:last-child) {
            margin: 0 30px 0 0;
        }

        h3 {
            font-size: 19.96px;
            line-height: 24px;
            padding: 28px 0 16px 0; 

        }

        .sale {
            padding: 19px 0 16px 0;
        }

        .qual {
            padding: 25px 0 16px 0;
        }

        p {
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            display: inline-block;
        }
    }

}